<div id="spilgames-splash-screen" onclick="location.href='http://vast-beyond-1541.herokuapp.com/musics'"></div>
<script type="text/javascript" charset="utf8">
  $(document).ready(function() {
    $('body').css('bakcground-image','url("http://www.wallpaper4me.com/images/wallpapers/musiccollection-90800.jpeg")');
    $('ul').css('display', 'none');
  } );
</script>
